@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
font-family: "Montserrat", serif;
font-weight: 450;
margin:0;
padding:0;
border:0;
}

/*==================================*/
.titulo {
    color:#FF7300;
}

.bemvindo{
    font-size: 26px;
}
.subtitulo{
    width: 85%;
    font-size: 20px;
}

.rodape{
    border: 3px solid #5444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    height: 20rem;
}

.enviar{
    height: 50px;
    background-color: #FF7300;
}
/* display flex */
.inicio{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
}


.post{
    display: flex;
    text-align: start;
    padding: 4px
}

.tag{
    font-weight: bold;
    font-size: 20px;
    color:rgb(119, 119, 119)
}



.descricaopost{
    width: 100%;
    text-align: start;
    margin-left: 1rem;
    font-size: 20px;
}

/* display flex */


.nomedesc h1{
    font-size: 3rem;
    padding-bottom: 10px;
}


.fita{
    background-color: #FF7300;
    padding: 2px;
    min-width: 100vw;
}

/*==================================*/

.descricaopost h2{
    font-size: 2rem;
    padding-bottom: 10px;
}

body{
    padding: 2rem;
}
/*==================================*/
.botao{
    width: 300px;
    height: 50px;
    background-color: #FF7300;
    border-radius: 5px;
}

h2{color: #FF7300};

/* txtarea */

.titulocodigo{
    padding: 1rem;
    width: 2rem;
    height: 2rem;
}

.lonacodigo{
    padding: 1rem;
    border: 2px solid #000;
    width: 90rem;
    height: 30rem;
    resize: none;
    font-size: 12px;
}
